---
import { Image } from "astro:assets";
import profileImage from "@/assets/images/profile.webp";
import { Linkedin, Github, Twitter, Facebook, Mail } from "lucide-astro";
import SocialLink from "@/components/SocialLink.astro";
---

<div class="flex flex-col min-h-full items-center justify-center">
  <Image
    src={profileImage}
    loading="eager"
    fetchpriority="high"
    alt="Dhemas Nurjaya"
    class="size-36 sm:size-48 rounded-2xl"
  />
  <h1 class="text-3xl sm:text-5xl font-bold mt-4 text-center">
    Dhemas Nurjaya
  </h1>
  <h2 class="text-lg sm:text-xl mt-2 text-center">
    Passionate Software Engineer
  </h2>
  <div class="flex flex-row gap-8 mt-8" aria-label="social links">
    <SocialLink
      href="https://www.linkedin.com/in/dhemas-nurjaya-030890bb"
      label="Linkedin"
      icon={Linkedin}
    />
    <SocialLink
      href="https://github.com/dhemasnurjaya"
      label="Github"
      icon={Github}
    />
    <SocialLink href="https://x.com/dhemaseka" label="X" icon={Twitter} />
    <SocialLink
      href="https://www.facebook.com/Dhemas"
      label="Facebook"
      icon={Facebook}
    />
    <SocialLink
      href="mailto:dhemasnurjaya@gmail.com"
      label="Email"
      icon={Mail}
    />
  </div>
  <div class="mt-24"></div>
</div>
