---
import { Image } from 'astro:assets';
import profileImage from "../assets/images/profile.jpg";
import socialEmail from "../assets/images/social-email.svg";
import socialFacebook from "../assets/images/social-facebook.svg";
import socialGithub from "../assets/images/social-github.svg";
import socialLinkedIn from "../assets/images/social-linkedin.svg";
import socialX from "../assets/images/social-x.svg";
---

<div class="flex flex-col min-h-full items-center justify-center">
  <Image
    src={profileImage}
    loading="eager"
    alt="Dhemas Nurjaya"
    class="w-48 h-48 rounded-2xl"
  />
  <h1 class="text-5xl font-bold mt-4">Dhemas Nurjaya</h1>
  <h2 class="text-xl mt-2">Passionate Software Engineer</h2>
  <div class="flex flex-row gap-8 mt-8" aria-label="social links">
    <a
      href="https://www.linkedin.com/in/dhemas-nurjaya-030890bb"
      aria-label="Linkedin"
    >
      <Image src={socialLinkedIn} alt="LinkedIn" loading="eager" class="w-6 h-6 invert" />
    </a>
    <a href="https://github.com/dhemasnurjaya" aria-label="Github">
      <Image src={socialGithub} alt="Github" loading="eager" class="w-6 h-6 invert" />
    </a>
    <a href="https://x.com/dhemaseka" aria-label="X">
      <Image src={socialX} alt="X" loading="eager" class="w-6 h-6 invert" />
    </a>
    <a href="https://www.facebook.com/Dhemas" aria-label="Facebook">
      <Image src={socialFacebook} alt="Facebook" loading="eager" class="w-6 h-6 invert" />
    </a>
    <a href="mailto:dhemasnurjaya@gmail.com" aria-label="Email">
      <Image src={socialEmail} alt="Email" loading="eager" class="w-6 h-6 invert" />
    </a>
  </div>
  <div class="mt-24"></div>
</div>
